
.account-box {
	background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    overflow: hidden;
    width: 480px;
}
.account-wrapper {
	padding: 30px;
}
.account-content {
	padding: 20px 0;
}
.account-title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}
.account-box .form-group {
	margin-bottom: 25px;
}
.account-box .account-btn {
	background: #51d436;
	background: -moz-linear-gradient(left,  #51d436 0%, #85079e 100%);
	background: -webkit-linear-gradient(left,  #51d436 0%, #85079e 100%);
	background: -ms-linear-gradient(left,  #51d436 0%, #85079e 100%);
	background: linear-gradient(to right, #51d436 0%, #85079e 100%);
	border: 0;
    border-radius: 4px;
    display: block;
	font-size: 22px;
	padding: 10px 26px;
    width: 100%;
}
.account-box .account-btn:hover,
.account-box .account-btn:focus {
	border: 0;
	opacity: 0.8;
}
.account-box .form-control {
    background-color: #fbfbfb;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    height: 46px;
}
.account-box label {
	color: #1f1f1f;
	font-size: 16px;
	font-weight: normal;
    margin-bottom: 5px;
}
.account-logo img {
	width: 100px;
}
.account-footer {
    text-align: center;
}
.account-footer p {
    margin-bottom: 0;
}
.account-footer a {
	color: #51d436;
}
.account-footer a:hover {
	color: #51d436;
}


h1{
    font-family: CircularStd;
	margin-top: 0;
	font-weight: 500;
    
}